.menu-list::-webkit-scrollbar {
  width: 0;
}

.custom-select .react-select__input {
  padding: 0;
  margin: 0;
}

.custom-select .react-select__option {
  padding: 0.75rem 22px;
  font-family: "Onest", serif;
  color: var(--color-gray-1);
  font-weight: 500;
  font-size: 14px;
  border-bottom: 1px solid rgba(5, 44, 101, 0.06);
}

.custom-select .react-select__option--is-selected {
  background-color: #d7d7d76e;
}

.custom-select .react-select__single-value {
  font-family: "Onest", serif;
  color: var(--color-gray-1);
  font-weight: 500;
  font-size: 14px;
}

.custom-select .react-select__indicator-separator {
  display: none;
}

.custom-select .react-select__menu {
  margin-top: 0;
}

.custom-select .react-select__menu-list {
  padding-top: 0;
}

.custom-select .react-select__menu-list::-webkit-scrollbar {
  width: 0;
}

.custom-select .react-select__control {
  border-radius: 6px;
  max-height: 44px;
  background: var(--color-white);
  box-shadow: none !important;
  padding: 12px 20px;

  font-family: "Onest", serif;
  color: var(--color-gray-1);
  font-weight: 500;
  font-size: 14px;
  line-height: 17.85px;
  border-color: transparent !important;
}

.custom-select.languages-select .react-select__control {
  border-color: var(--color-gray-1) !important;
}

.custom-select .react-select__indicators-container {
  padding: 0;
}

.custom-select .react-select__value-container {
  padding: 0;
}

.custom-select .react-select__dropdown-indicator {
  padding: 0;
}

.custom-select .react-select__input-container {
  margin: 0;
  padding: 0;
}
