.container__default {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 39px 74px 62px 92px;
}

.container__sidebar {
  min-width: 232px;
  background: var(--color-gray-2);

  @apply pt-[51px];
}

@media (width <= 1920px) {
  /* .container__default {
    padding: 0;
    padding-left: 10px;
  } */

  .container__sidebar {
    display: none;
  }
}

.container__view-1 {
  display: flex;
  gap: 13px;
  padding-top: 22px;
  background: var(--color-bg);
  border-radius: 19px;
}

.container__view-2 {
  display: flex;
  gap: 31px;
  padding-top: 31px;
  background: var(--color-bg);
  border-radius: 37px;
}

.container__view-3 {
  display: flex;
  gap: 21px;
  padding-top: 27px;
  background: var(--color-white);
  border-radius: 37px;
  box-shadow: 0px 1px 3px 0px #0000001a;
}

.container__sidebar .container__logo {
  margin-left: 30px;
  margin-right: 34px;
  @apply px-[9px] pt-[9px] pb-[18px];
}

.phone__container {
  width: 411px;
  height: 849px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("src/shared/assets/images/phone_bg.png");
}

[data-phone-container="true"]::-webkit-scrollbar {
  width: 0;
}
