.text__default {
  font-family: "Inter", serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 150%;
  color: var(--color-black-1);
}

.text-view-1 {
  font-size: 14px;
  line-height: 150%;
}

.text-view-2 {
  font-size: 16px;
  line-height: 150%;
}

.text-view-3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 100%;
}

.text-view-4 {
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
}

.text-view-5 {
  font-size: 17px;
  font-weight: 700;
  line-height: 100%;
}

.text-view-6 {
  font-size: 15px;
  font-family: "Onest", serif;
  font-weight: 500;
  line-height: 100%;
  @apply !text-gray-6;
}

.text-view-7 {
  font-size: 12px;
  font-weight: 600;
  color: #6b7280;
}

.text__default.text__bold {
  font-weight: 700;
}
