.text__default {
  font-family: "Inter", serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 25.5px;
  color: var(--color-black-1);
}

.text-view-1 {
  font-size: 14px;
  line-height: 150%;
}

.text-view-2 {
  font-size: 16px;
  line-height: 150%;
}

.text__default.text__bold {
  font-weight: 700;
}
