.btn__default {
  font-family: "Inter", serif;
  max-height: 43px;
  text-align: center;
  border-width: 1px;
  border-radius: 15px;
}

.btn__orange {
  background-color: var(--color-orange);
  color: var(--color-white);
}

.btn__orange:hover {
  opacity: 0.75;
}

.btn__orange.btn__orange-view-1 {
  font-family: "Onest", serif;
  border-radius: 6px;
  font-weight: 600;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 100%;
}

.btn__orange.btn__orange-view-2 {
  font-family: "Onest", serif;
  padding: 12.5px 11px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
}

.btn__orange.btn__orange-view-3 {
  font-family: "Inter", serif;
  max-width: none;
  max-height: none;
  padding: 16px 50px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.btn__orange.btn__orange-view-4 {
  font-family: "Onest", serif;
  font-size: 14px;
  line-height: 100%;
  font-weight: 500;
}

.btn__orange.btn__orange-view-5 {
  font-family: "Onest", serif;
  padding: 8px 9px;
  font-size: 14px;
  line-height: 100%;
  font-weight: 500;
  border-radius: 6px;
}

.btn__orange.btn__orange-view-6 {
  font-family: "Onest", serif;
  font-size: 14px;
  line-height: 150%;
  font-weight: 600;
  border-radius: 6px;
}

.btn__orange.btn__orange-view-7 {
  font-family: "Inter", serif;
  padding: 2px 8px;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
}

.btn-view-1 {
  padding: 12px 11px;
  min-width: 167px;
  font-family: "Onest", serif;
  font-size: 14px;
  line-height: 17.85px;
  font-weight: 600;
  border-radius: 6px;
}

.btn-view-2 {
  font-family: "Onest", serif;
  font-size: 14px;
  line-height: 150%;
  font-weight: 600;
  border: none;
  color: var(--color-gray-1);
}

.btn__white {
  font-family: "Onest", serif;
  background-color: var(--color-white-1);
  color: var(--color-gray-1);
  max-width: 265px;
  border-color: var(--color-gray-1);
}

.btn__white.btn__white-view-1 {
  padding: 11px 28px 11px 19px;
  min-width: 146px;
  font-family: "Onest", serif;
  font-size: 14px;
  line-height: 150%;
  font-weight: 600;
  border-radius: 6px;
}
.btn__white.btn__white-view-2 {
  padding: 12.5px 51.5px;
  font-family: "Onest", serif;
  font-size: 14px;
  line-height: 100%;
  font-weight: 500;
  border-radius: 6px;
}

.btn__white.btn__white-view-3 {
  padding: 16px 101.75px;
  font-size: 14px;
  line-height: 16px;
  max-height: none;
  max-width: none;
  font-weight: 700;
  border-radius: 8px;
}

.btn__white.btn__white-view-4 {
  @apply rounded-[6px] py-3 px-[11.5px];
}

.btn__white.btn__white-view-5 {
  @apply rounded-[6px] py-[11px] px-5 border-none bg-white;
}

.btn__gray {
  font-family: "Onest", serif;
  background-color: var(--color-white-1);
  font-weight: 600;
  color: var(--color-gray-6);
  font-size: 14px;
  line-height: 150%;
  border: none;
  border-radius: 6px;
}

div[role="tab"] {
  font-family: "Inter", serif;
  @apply px-4 py-3.5 bg-[#F5F5F5] font-bold text-[17px];
}

div[role="tab"][datatype="tab-plus"] {
  @apply px-4;
}

div[role="tab"][data-selected] {
  @apply text-orange;
}

button[disabled] {
  cursor: default;
}
